
.big-avatar{
    margin: 10px;
    width: 160px !important;
    height: 160px !important;
}
.button{
     margin: spacing(1);
}
.wraper-cover{
    margin: 100px 600px;
}
.root{
    flex-grow: 1;
    max-width: 500;
  }