.searchIcon {
    width: spacing(7);
    height: '100%';
    position: 'absolute';
    pointer-events: 'none';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
  }
  .search {
    position: 'relative';
    border-radius: borderRadius;
    background-color: fade(white, 0.15);
    &hover {
      background-color: fade(white, 0.25);
    }
    margin-left: '0px';
    width: '100%';
  }