$primary-pink: #ff3f80;
$grey: #818181;
$light-grey: #cccccc;
$yellow: #faa61a;
$dark-yellow: #d2890e;
$green: #55ff3f80;
$title-color: #262626;
$subtitle-color: #797979;
$off-white: #eaeaea;
$red: #b00020;
$dark-red: #7b0218;

// UI Colors
$carousel-bg: rgb(246, 244, 244);
$chat-text: #36474f;
$chat-bg-outgoing: #ff3f80;
$chat-bg-incoming: #ffffff;
$indicator-bg: rgba(0, 0, 0, 0.4);

// White: #FFFFFF
// Black: #000000
// Pink: #FF3F80
// Deep Pink: #c4144f
// Gray 1: #cccccc
// Gray 2: #818181
// Yellow: #FAA61A
// Deep Yellow: #d2890e

// Ripple Color: #55FF3F80
// Title Text Color: #262626
// Subtitle Text Color: #797979

// Off White: #eaeaea
// Deep Red - Error: #B00020
// Deep Red Hover: #7b0218

// Chat Text Color: #36474F
// Outgoing chat bubble background: #FF3F80
// Incoming chat bubble background: #FFFFFF
